RIOT_API_KEY=<Riot games API key>
BOT_TOKEN=<Discord bot token>
MONGODB=<Docker usage method: Docker/External/"">
DOCKER_CONTAINER=<conatainer name>
MONGO_USERNAME=<>
MONGO_PASSWORD=<>
MONGO_CONNECTION_STRING=<connection string to external database>

RUN_API=<True / False>
API_JWT_SECRET_KEY=<Key used for JWT validation. Anything secret.>

APP_DISCORD_ID=<Id of app in discord developer portal>
APP_DISCORD_SECRET=<Secret of app in discord developer portal>
NEXTAUTH_SECRET='secret'
API_URL=''