@import 'primeicons/primeicons.css';

@import 'primereact/resources/themes/md-dark-indigo/theme.css';

* {
  box-sizing: border-box;
}

:root {
  --primary: #ba1edd;
  --secondary: #c79dcd;
  --surface: #364847;
  --text-color: #7ca3a7;
}

html {
  height: 100%;
}

body {
  background-color: var(--surface);
  color: var(--text-color);
  margin: 0;
}

nav {
  background: var(--primary);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .p-avatar {
    margin-right: 1.5rem;

    img {
      border-radius: 30%;
    }
  }
}

main > div {
  padding: 1rem;
}

.menu-bar {
  flex-grow: 1;
  background-color: transparent;
  border: 0;
  margin-left: 2rem;
  margin-right: 1rem;
}
